<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/indcourse.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="script.js" defer></script>

    <title>Android Development</title>
    <script>

    </script>
</head>

<body>
    <div class="navbar">
        <div class="left-navbar">
            <a href="/">
                <h2>Home</h2>
            </a>
            <a href="/dashboard">
                <h2>Dashboard</h2>
            </a>
            <a href="/courses_l">
                <h2>Courses</h2>
            </a>
        </div>


        <div class="logo">
            <a href="/"><img class="logo-img" src="images/artificial-intelligence.png" alt="logo"></a>
        </div>

        <div class="right-navbar">
            <div class="wrapper">
                <input type="search" placeholder="Search Here" class="search-box">
                <img class="search-img" src="images/searching.png" alt="">
            </div>
            <!--   <button class="sign_in">Sign In</button>-->
            <button class="sign_up"><%=name%></button>
        </div>
    </div>
    <br>
    <div class="courseheading">
        <img src="images/androidcourse.png">
    </div>
    <!--<h1 class="mlheading"><span class="machine">Machine</span> Learning Course</h1>-->
    <br>
    <h2 class="about">About The Course</h2>
    <br>
    <div class="block">
        <p class="android-para">In this android tutorial we will see how android applications are built using Android
            studio. In this Android Java Course we will see how android applications are built using programming in java
            and XML. This android course will teach you everything you need to learn to create your first Android
            Application!</p>
        <iframe CLASS="androidyoutube" width="53%" height="90%" src="https://www.youtube.com/embed/mXjZQX3UzOs"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>