<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/indcourse.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="script.js" defer></script>
    
    <title>C++</title>
    <script>
       
    </script>
</head>
<body>
    <div class="navbar">
        <div class="left-navbar">
            <a href="/">
                <h2>Home</h2>
            </a>
            <a href="/dashboard">
                <h2>Dashboard</h2>
            </a>
            <a href="/courses_l">
                <h2>Courses</h2>
            </a>
        </div>

        
        <div class="logo">
            <a href="#"><img class="logo-img" src="images/artificial-intelligence.png" alt="logo"></a> 
        </div>

        <div class="right-navbar">
            <div class="wrapper">
                <input type="search" placeholder="Search Here" class="search-box">
                <img class="search-img" src="images/searching.png" alt="">
            </div>
         <!--   <button class="sign_in">Sign In</button>-->
            <button class="sign_up"><%=name%></button>
        </div>
    </div>
    <br>
    <div class="courseheading">
    <img  src="images/cppcourse.png"></div>
    <!--<h1 class="mlheading"><span class="machine">Machine</span> Learning Course</h1>-->
   <br>
    <h2 class="about">About The Course</h2>
   <br>
   <div class="block">
        <p class="cpp-para">C++ is one of the world's most popular programming languages.

            In today's operating systems, GUIs, and embedded systems, C++ is widely used.
            
            It is one of the most popular programming languages for its object-orientedness. C++ is an object-oriented programming language that gives a clear structure to programs and allows code to be reused, lowering development costs.
            
            With C++, you can develop applications or heavy games that can run on different platforms.
            This course contains all the concepts and exercises of the C++ language. If you're a mere beginner, you can start your coding journey with this course</p>
        <iframe class="cppyoutube" width="53%" height="90%" src="https://www.youtube.com/embed/yGB9jhsEsr8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      
     </div>