<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/indcourse.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="script.js" defer></script>
    
    <title>DSA</title>
    <script>
       
    </script>
</head>
<body>
    <div class="navbar">
        <div class="left-navbar">
            <a href="/">
                <h2>Home</h2>
            </a>
            <a href="/dashboard">
                <h2>Dashboard</h2>
            </a>
            <a href="/courses_l">
                <h2>Courses</h2>
            </a>
        </div>

        
        <div class="logo">
            <a href="#"><img class="logo-img" src="images/artificial-intelligence.png" alt="logo"></a> 
        </div>

        <div class="right-navbar">
            <div class="wrapper">
                <input type="search" placeholder="Search Here" class="search-box">
                <img class="search-img" src="images/searching.png" alt="">
            </div>
         <!--   <button class="sign_in">Sign In</button>-->
            <button class="sign_up"><%=name%></button>
        </div>
    </div>
    <br>
    <div class="courseheading">
    <img  src="images/dsa.png"></div>
    <!--<h1 class="mlheading"><span class="machine">Machine</span> Learning Course</h1>-->
   <br>
    <h2 class="about">About The Course</h2>
   <br>
   <div class="block">
        <p class="dsa-para">This video is a one-stop solution if you are looking for a data structures and algorithm tutorial. It explains the data structures and algorithms which will take you from beginner to expert in one go.

            We will explain data structures and algorithms from start to finish.
            
            A data structure is a way to store and manage data in computer memory so it can be used in the future. Data can be arranged in many ways that enable access and modification when needed. 
            
            It can be further divided into two types, linear and non-linear data structure. We will provide enough details about data structures and their types in this data structure tutorial.
            
            The algorithm is a process to solve a specific problem in a data structure. Learning DSA (data structure and algorithm) will allow you to perform optimized and efficient programming in various languages like python, C++, java, etc. 
            
            In this full course tutorial, we will provide with in-depth knowledge about the following-
            ► DSA introduction
            ► Tree-based DSA
            ► Graph-based DSA
            ► Sorting and searching algorithm
            ► Various types of algorithm
            </p>
        <iframe class="dsayoutube" width="53%" height="90%" src="https://www.youtube.com/embed/hCrO_cR7kno" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                 </div>